body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li{
    display: block;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.header{
    background: url("background.png") no-repeat center top;
}
.header_logo_pic{
    height: 100%;
}
