@function rem($num){
    $result: #{($num/ 16) + rem};
    @return $result;
}




            // New style__variables
    
$fz12: rem(12);
$fz14: rem(14);
$fz18: rem(18);
$fz20: rem(20);

$bg-color: #F2F2F2;
$text-color: #000;

   
            // New style__mixins


@mixin container {
    // width: 1640px;
    padding: 0 rem(15);
    margin: 0 auto;
    max-width: 1670px;
}
@mixin section {
    padding:  0 0 112px 0;
}

@mixin btn_text{
    color: $text-color;
    font-size: $fz14;
    font-weight: 700;
    letter-spacing: 0.5em;
    
    text-transform: uppercase;

    width: 352px;
    padding: rem(4) rem(8);
    border: 1px solid #292929;
    
    
    &:visited{
        background-color: transparent;
    }
    &:hover{
        background-color: #c2c2c2;
        transition: all .5s ease;
    }
    &:active{
        background-color: transparent;
    }
}

@mixin text_hover {
    border-bottom: transparent solid 1px;

    
    &:hover{
        border-bottom: #727272 solid 1px;
        transition: all .5s ease;
        cursor: pointer;       
    }
    &:active{
        border: transparent;
    }
   
}

@mixin text_selection{
    &::selection {
        color: $text-color;
        background: rgb(201, 201, 201);
    }
} 






@media (max-width: 1670px) {
    .page__container {
      max-width: 1200px !important;
    }
    
}


@media (max-width: 1200px) {
    .page__container {
      max-width: 970px !important;
    }
    .header__menu{
        height: 48px;
        display: flex !important;
        align-items: center !important;
    }

    
    .menu__icon{
        z-index: 10 !important;
        display: block !important;
        position: relative !important;
        height: 32px !important;
        width: 42px !important;        
        cursor: pointer !important;
        
    }
    .menu__icon span,
    .menu__icon::before, 
    .menu__icon::after {
        left: 0 !important;
        position: absolute !important;
        height: 3px !important;
        width: 100% !important;
        transition: all 0.3s ease 0s !important;
        background-color: #000 !important;
    }

    .menu__icon::before, 
    .menu__icon::after {
        content: "" !important;
        
    }
    .menu__icon::before{
        top: 0px !important;

        
    }
    
    .menu__icon::after {
        bottom: 0px !important;
    }
    
    .menu__icon span{
               
        top: 50% !important;
        transform: scale(1) translate(0px, -50%) !important;
        
    }

    .menu__icon._active{
        span{
            transform: scale(0) translate(0px, -50%) !important;
        }

        &::before{
            top: 50% !important;
            transform: rotate(-45deg) translate(0px, -50%);
        }

        &::after{
            bottom: 50% !important;
            transform: rotate(45deg) translate(0px, 50%);
        }

    }




    .menu__body{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgb(242, 242, 242, .9);
        padding: 112px 48px 48px 48px;
        transition: all .3s ease 0s;
        overflow: auto;

        
        
        &::before{
            content: "";
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 112px;
            background-color: $bg-color;
        }

        
        .menu__list{
            margin: 24px 0 0 0;
            font-size: 24px; 
            li{
                display: flex;
                justify-content: center;
                margin: 0 0 54px 0 !important;            
                                           
                .menu__icons{
                    height: 30px !important;
                    .icon{
                        margin-left: 50px !important;
                        height: 25px !important;
                        &:first-child{
                            margin-left: 0 !important;
                        }

                        svg{
                            height: 100% !important;
                        }
                    }

                    position: fixed;
                    bottom: 5px;
                    
                }
            } 
                               
        }
    }
          


    .menu__body._active{
        right: 0;
    }



        
    .contacts__what-we-do{
        display: none !important;
    }
    .contacts__place-a-meeting{
        width: 70% !important;
        margin: 0 auto;
    }
    .more-projects-btn-text{
        padding: rem(4) rem(12) !important;
        width: fit-content !important;
    }

    .info__paragraphs{
        // display: block !important;
        .par-group{
            display: block !important;
            .par{
                width: 100% !important;
            } 
        }
    }
    
}

@media (min-width: 1200px){
    .menu__list{
        display: flex ;
        align-items: flex-end;
        li{
            padding: 0 0 0 40px;

            a{
                @include text_hover;
            }
        }
    } 
           
}

@media (max-width: 768px) {

    .contacts__place-a-meeting{
        width: 100% !important;
    }
    
       
}

  @media (max-width: 491px) {
    .emp-block-hiden{
        display: none !important;
    }
  }