* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #000;
  background-color: #F2F2F2;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
  color: #000;
  text-decoration: none;
}

.page__main .page__header {
  height: 112px;
  width: 100%;
  background-color: #F2F2F2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.page__main .page__header .page__container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 104.375rem;
}
.page__main .page__header .page__container .page__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0;
}
.page__main .page__header .page__container .page__nav-bar .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page__main .page__header .page__container .page__nav-bar .header__logo .header_logo-pic {
  height: 48px;
}
.page__main .page__header .page__container .page__nav-bar .header__logo .header_logo-pic img {
  height: 100%;
}
.page__main .page__header .page__container .page__nav-bar .header__logo .header_name {
  padding: 0 0 0 8px;
  text-decoration: none;
}
.page__main .page__header .page__container .page__nav-bar .header__logo .header_name .header_name-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 16px;
  letter-spacing: 0.2em;
  color: #000;
}
.page__main .page__header .page__container .page__nav-bar .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.page__main .page__header .page__container .page__nav-bar .header__navigation li {
  padding: 0 0 0 40px;
}
.page__main .page__header .page__container .page__nav-bar .header__navigation li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.2em;
  font-size: 1rem;
}
.page__main .page__content {
  margin-top: 112px;
}
.page__main .page__content .page__container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 104.375rem;
}
.page__main .page__content .page__container .page__slider {
  height: calc(100vh - 112px);
}
.page__main .page__content .page__container .page__projects .section-wrapper {
  padding: 112px 0 0 0;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24.375rem, 1fr));
  gap: 28px;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__wrapper .project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__wrapper .project__content img {
  cursor: pointer;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__wrapper .project__content p {
  font-size: 0.75rem;
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  margin: 8px 0 0 0;
  cursor: pointer;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__more-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__more-projects .more-projects-btn {
  border: 1px solid #292929;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__more-projects .more-projects-btn .more-projects-btn-text {
  color: #000;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.5em;
  width: 366px;
  padding: 0.25rem 2.625rem;
  text-transform: uppercase;
}

.page__footer .page__container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 104.375rem;
}
.page__footer .page__container .footer__contact-info .privacy-policy .privacy-policy__logo {
  height: 30px;
}