.page__filter > .section-wrapper {
  padding: 0px 0 0 0;
}

.project__wrapper {
  margin-bottom: 0 !important;
}

.filter__navigation {
  padding: 0 0 24px 0;
}
.filter__navigation .filter__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.filter__navigation .filter__navigation-list li {
  border-bottom: transparent solid 1px;
  border-bottom: transparent solid 1px;
}
.filter__navigation .filter__navigation-list li:hover {
  border-bottom: #727272 solid 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.filter__navigation .filter__navigation-list li:active {
  border: transparent;
}

.project__content {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.animation {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.filter_hidden {
  -webkit-animation-name: hide;
          animation-name: hide;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hide {
  0% {
    visibility: visible;
    height: 400px;
  }
  100% {
    visibility: hidden;
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
}

@keyframes hide {
  0% {
    visibility: visible;
    height: 400px;
  }
  100% {
    visibility: hidden;
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
}