.achievements{
    padding-top: 112px;
}

.achievements__wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .achievements__block{
        padding: 20px 52px 20px 52px;
        display: flex;
        flex-direction: column;
        .number{
            font-size: 60px;
            font-weight: 700;
            letter-spacing: 0.23em;
            text-align: center;
            margin-bottom: 12px;
        }
        .text{
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 0.3em;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.info__paragraphs{
    display: flex;
    flex-direction: column;
    .par-group{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        // width: 50%;
        &:nth-child(even){
            align-items: flex-end;
        }
        
        .par{
            width: 48%;
            line-height: 28px;
            font-size: 18px;
            span{
                font-weight: 700;
            }
        }
    }
}

.awards__content{
    .awards__title{
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 60px;
    }
    .awards__wrapper{
        
        .awards__block{
            border-bottom: 1px solid rgb(131, 131, 131);
            max-width: 800px;
            padding: 20px 0 20px 0;
            p{
                padding-bottom: 5px;
            }
            .awards__name{
                font-weight: 700;
                font-size: 18px;
                
            }
        }
        .__first{
            padding-top: 0;
        }
    }
}

.footer__icons{
    display: flex;
    justify-content: center;
    .icon{
        height: 20px;
        padding: 0 15px;
        svg{
            height: 20px;
        }
    }
}

.footer__PP{
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
}



@import "media"