@use 'sass:math';

            // New style__functions


// to %
// @function prc($pxOne, $pxTwo){
    //     $result: math.div($pxOne, $pxTwo) * 100%;
    //     @return $result;
    // }
    // to REM
@function rem($num){
    $result: #{($num/ 16) + rem};
    // $result: #{math.div($num, 16) + rem};
    @return $result;
}

// to EM
// @function em($px){
    //     $result: math.div($px, 16) + em;
    //     @return $result;
    // }
    
    


            // New style__variables
    
$fz12: rem(12);
$fz14: rem(14);
$fz18: rem(18);
$fz20: rem(20);

$bg-color: #F2F2F2;
$text-color: #000;
    

           // New style
            // New style__mixins

@mixin container {
    // width: 1640px;
    padding: 0 rem(15);
    margin: 0 auto;
    max-width: 1670px;
}
@mixin section {
    padding:  0 0 112px 0;
}


// @mixin btn_container {
//     // cursor: pointer;
//     width: 352px;
//     padding: rem(4) rem(8);
//     border: 1px solid #292929;
    
    
//     &:visited{
//         background-color: transparent;
//     }
//     &:hover{
//         background-color: #c2c2c2;
//         transition: all .5s ease;
//     }
//     &:active{
//         background-color: transparent;
//     }
// }

@mixin btn_text{
    color: $text-color;
    font-size: $fz14;
    font-weight: 700;
    letter-spacing: 0.5em;
    
    text-transform: uppercase;

    width: 352px;
    padding: rem(4) rem(8);
    border: 1px solid #292929;
    
    
    &:visited{
        background-color: transparent;
    }
    &:hover{
        background-color: #c2c2c2;
        transition: all .5s ease;
    }
    &:active{
        background-color: transparent;
    }
}

@mixin text_hover {
    border-bottom: transparent solid 1px;

    
    &:hover{
        border-bottom: #727272 solid 1px;
        transition: all .5s ease;
        cursor: pointer;       
    }
    &:active{
        border: transparent;
    }
   
}

@mixin text_selection{
    &::selection {
        color: $text-color;
        background: rgb(201, 201, 201);
    }
} 




            // General reset settings
* {
    box-sizing: border-box;
    // font-size: 16px;
    font-weight: 400; 
}


body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
    background-color: $bg-color;
    
}

ul, li{
    display: block;
    padding: 0;
    margin: 0;
    color: $text-color;
    text-decoration: none;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, a, button, br{
    @include text_selection;
}



 





            // New style code

html{
    scroll-behavior: smooth;
}

body._lock{
    overflow: hidden;
}

.page__main{
    .page__header{
        height: 112px;
        width: 100%;
        background-color: $bg-color;
        position: fixed;
        top: 0; 
        left: 0;
        z-index: 2;
        .page__container{
            @include container;
            .page__nav-bar{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 32px 0;
                .header__logo{
                    display: flex;
                    z-index: 20;
                    .header_logo-pic{
                        height: 48px;                        
                        img{                            
                            height: 100%;
                        }
                    }
                    .header_name{
                        padding: 0 0 0 8px;
                        text-decoration: none;
                        .header_name-text{
                            text-transform: uppercase;
                            font-weight: 700;
                            // font-size: 12px;
                            font-size: $fz12;
                            line-height: 16px;
                            letter-spacing: 0.2em;
                            color: $text-color;
                        }
                    }
                }
                .menu{
                    // display: flex;
                    
                    .menu__icon{
                        display: none;
                    }
                    
                    .menu__list{
                        
                        li{
                            height: 20px;
                            .mobile{
                                text-decoration: none;
                                text-transform: uppercase;
                                color: $text-color;
                                letter-spacing: 0.2em;
                                height: 24px;
                                font-size: rem(15);
                                
                            }
                            .menu__icons{
                                display: flex;
                                .icon{
                                    margin-left: 20px;
                                    &:first-child{
                                        margin-left: 0;
                                    }
                                    svg{
                                        height: 100%;
                                    }
                                }
                            }
                        }
                        .icons-mobile{
                            display: flex;
                            height: fit-content;
                            a{
                                height: 20px;
                                svg{
                                    height: 100%;
                                }
                            }
                        }
                        
                        .menu__active{
                            border-bottom: #727272 solid 1px;
                        }                    
                    }
                    
                }
            }
        }
    }

    // main content styles

    .page__content{
        padding-top: 112px;
        .page__container{
            @include container;
            .page__slider{
                height: calc(100vh - 112px);
            }
            .page__projects{
                .section-wrapper{
                    // @include section;
                    .project__wrapper{
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -14px;                        
                        
                        .project__content{
                            // display: flex;
                            // flex-direction: column;
                            position: relative;
                            min-width: 248px;
                            flex-grow: 1;
                            width: calc((100% - 56px) / 3);
                            padding: 0 14px rem(28) 14px;  
                            .project__img{
                                position: relative;
                                max-width: 528px;
                                // min-height: 145px;
                                // max-height: 352px;

                                img{
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                }

                                .project__photo{
                                    // padding: 0 0 prc(352, 528) 0;
                                    // width: 528px;
                                    max-width: 100%;
                                    cursor: pointer;

                                    opacity:1;
                                        
                                }  
    
                                .project__photo-hover{
                                    max-width: 100%;
                                    cursor: pointer;

                                    opacity:0;
    
                                }                              
                            }

                            .project__img:hover .project__photo { 

                                opacity:0;
                                transition: all .5s ease;                              
                              
                            }
                            
                            .project__img:hover .project__photo-hover, .project__img .project__photo-hover:hover {

                                opacity:1;
                                transition: all .5s ease;
                            }

                            .project__content-wrapper{
                                display: flex;
                                flex-direction: column;
                                
                                .project__photo-hiden{
                                    max-width: 100%;
                                    visibility: hidden;
                                }
    
                                .project__text{
                                    font-size: $fz12;
                                    font-weight: 300;
                                    width: fit-content;
                                    text-transform: uppercase;
                                    cursor: pointer;
                                    margin-top: rem(14);
                                    @include text_hover;                                
                                }
                            }

                        }
                        
                    }
                    .project__more-projects{
                        
                    }
                }
            }

            .page__about-us{
                .about-us{
                    .about-us__container{
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -14px;
                        .emp-block{
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            flex-grow: 1;
                            min-width: 248px;                            
                            width: calc((100% - 56px) / 3);
                            padding: 0 14px 28px 14px;

                            .emp-block__photo{
                                // min-width: 528px;
                                max-width: 100%;
                            }
                            
                            .emp-block__name{
                                padding: rem(8) 0 rem(4) 0;
                            }
                            .emp-block__position{
                                font-size: rem(14);
                                color: #474747;
                            }
                        }
                        .emp-block-hiden{
                            visibility: hidden;
                        }
                    }
                    .about-us__more-btn{
                    }
                }
            }

            .page__contacts{
                .contacts{
                    .contacts__container{
                        display: flex;
                        justify-content: space-between;
                        height: 520px;
                        .contacts__what-we-do{
                            width: 768px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            border-left: 1px #000 solid;
                            .contacts__what-we-do-text{
                                margin-left: rem(56);
                                
                                .main-text{
                                    font-size: $fz20;
                                    font-weight: 700;
                                    letter-spacing: 0.135em;
                                    margin-bottom: rem(8);
                                }
                                .additional-text{
                                    font-size: $fz12;
                                    font-weight: 300;
                                    letter-spacing: 0.135em;
                                    line-height: rem(17);                                                                       
                                }
                            }
                        }
                        .contacts__place-a-meeting{
                            width: 410px;
                            border: #000 solid 1px;  
                            .contacts__place-a-meeting-container{
                                width: 80%;
                                height: 520px;
                                margin: auto;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                .contacts__cotact-us-title{
                                    height: 8%;
                                    display: flex;
                                    .cotact-us-text{
                                        font-size: $fz20;
                                        font-weight: 700;
                                        letter-spacing: 0.2em;
                                        width: fit-content;
                                        margin: auto auto 0 auto;
                                        text-transform: uppercase;
                                    }
                                }
                                .contacts__form{
                                    .contacts__input-block{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        .input-label{
                                            display: block;
                                            padding: 8px 0 2px 0;
                                            // font-size: 16px;
                                            font-weight: 300;
                                        }
                                        .input-field{
                                            display: block;
                                            height: 32px;
                                            font-size: $fz14;
                                            font-weight: 300;
                                            padding: 5px 5px;
                                            color: $text-color;
                                            background-color: transparent;
                                            border: $text-color 1px solid;
                                        }
                                        textarea{
                                            resize: none;
                                            margin: 0;
                                        }
                                    }
                                }
                                .contacts__submit{
                                    height: 10%;
                                    display: flex;
                                    .submit-btn{
                                        @include btn_text;                                        
                                        font-size: $fz18;
                                        width: 175px;
                                        padding: rem(2) 0;
                                        margin: 0 auto auto auto;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }





        }
    }
}

.page__footer{
    .footer__map{

    }
    .page__container{
        @include container;
            .footer__contact-info{
            display: flex;
            justify-content: space-between;
            padding: 72px 0 72px 0;
            .contacts{
                
                .contacts__details{
                    text-decoration: none;
                    color: $text-color;
                    font-size: $fz14;
                    line-height: rem(20);
                    letter-spacing: 0.02em;
                    @include text_hover;
                }
                
                .contacts__adress{
                }
                .contacts__e-mail{
                    width: fit-content;
                }
                .contacts__tel{
                    width: fit-content;
                }
            }
            .privacy-policy{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .privacy-policy__logo{
                    height: rem(48);
                }
                .privacy-policy__text{
                    font-size: $fz14;
                    line-height: rem(20);
                    letter-spacing: 0.02em;
                }
            }
        }
    }
}

.section-wrapper{
    @include section;
}

.more-btn{                            
    display: flex;
    justify-content: center;    
    // @include btn_container;
    .more-btn-text{
        @include btn_text;
        text-decoration: none;
        text-align: center;
    }
    
}




@media (max-width: 1670px) {
    .page__container {
      max-width: 1200px !important;
    }
    
}

// @media (max-width: 1200px) {
//     .page__container {
//       max-width: 970px !important;
//     }
    
// }

@media (max-width: 1200px) {
    .page__container {
      max-width: 970px !important;
    }
    .header__menu{
        height: 48px;
        display: flex !important;
        align-items: center !important;
    }

    
    .menu__icon{
        z-index: 10 !important;
        display: block !important;
        position: relative !important;
        height: 32px !important;
        width: 42px !important;        
        cursor: pointer !important;
        
    }
    .menu__icon span,
    .menu__icon::before, 
    .menu__icon::after {
        left: 0 !important;
        position: absolute !important;
        height: 3px !important;
        width: 100% !important;
        transition: all 0.3s ease 0s !important;
        background-color: #000 !important;
    }

    .menu__icon::before, 
    .menu__icon::after {
        content: "" !important;
        
    }
    .menu__icon::before{
        top: 0px !important;

        
    }
    
    .menu__icon::after {
        bottom: 0px !important;
    }
    
    .menu__icon span{
               
        top: 50% !important;
        transform: scale(1) translate(0px, -50%) !important;
        
    }

    .menu__icon._active{
        span{
            transform: scale(0) translate(0px, -50%) !important;
        }

        &::before{
            top: 50% !important;
            transform: rotate(-45deg) translate(0px, -50%);
        }

        &::after{
            bottom: 50% !important;
            transform: rotate(45deg) translate(0px, 50%);
        }

    }




    .menu__body{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgb(242, 242, 242, .9);
        padding: 112px 48px 48px 48px;
        transition: all .3s ease 0s;
        overflow: auto;

        
        
        &::before{
            content: "";
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 112px;
            background-color: $bg-color;
        }

        .menu__list{
            margin: 24px 0 0 0; 
            .mobile{
                font-size: rem(24) !important;
            }
            li{
                margin: 0 0 54px 0 !important;
                height: 24px;
                display: flex;
                justify-content: center;
                .menu__icons{
                    height: fit-content;
                }
                
            }
            a{
                width: fit-content;
            }

            
        }
        .icons-mobile{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-top: 100px;
            height: 30px !important;
            align-items: center !important;
            li{
                margin: 0 !important;
                height: fit-content;
            }
            a{
                height: 24px !important;
                svg{
                    height: 100% !important;
                }
            }
        }
    }

    .menu__body._active{
        right: 0;
    }



        
    .contacts__what-we-do{
        display: none !important;
    }
    .contacts__place-a-meeting{
        width: 70% !important;
        margin: 0 auto;
    }
    .more-projects-btn-text{
        padding: rem(4) rem(12) !important;
        width: fit-content !important;
    }

    .info__paragraphs{
        // display: block !important;
        .par-group{
            display: block !important;
            .par{
                width: 100% !important;
            } 
        }
    }
    
}

@media (min-width: 1200px){
    .menu__list{
        display: flex ;
        align-items: flex-end;
        li{
            padding: 0 0 0 40px;

            a{
                @include text_hover;
            }
        }
    } 
           
}

@media (max-width: 768px) {

    .contacts__place-a-meeting{
        width: 100% !important;
    }
    
       
}

  @media (max-width: 491px) {
    .emp-block-hiden{
        display: none !important;
    }
  }