* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #000;
  background-color: #F2F2F2;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
  color: #000;
  text-decoration: none;
}

.page__main .page__header {
  height: 112px;
  width: 100%;
  background-color: #F2F2F2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.page__main .page__header .page__container {
  padding: 0 0.9375rem;
  margin: 0 auto;
  max-width: 1670px;
}
.page__main .page__header .page__container .page__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0;
}
.page__main .page__header .page__container .page__nav-bar .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page__main .page__header .page__container .page__nav-bar .header__logo .header_logo-pic {
  height: 48px;
}
.page__main .page__header .page__container .page__nav-bar .header__logo .header_logo-pic img {
  height: 100%;
}
.page__main .page__header .page__container .page__nav-bar .header__logo .header_name {
  padding: 0 0 0 8px;
  text-decoration: none;
}
.page__main .page__header .page__container .page__nav-bar .header__logo .header_name .header_name-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 16px;
  letter-spacing: 0.2em;
  color: #000;
}
.page__main .page__header .page__container .page__nav-bar .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.page__main .page__header .page__container .page__nav-bar .header__navigation li {
  padding: 0 0 0 40px;
}
.page__main .page__header .page__container .page__nav-bar .header__navigation li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.2em;
  border-bottom: transparent solid 1px;
}
.page__main .page__header .page__container .page__nav-bar .header__navigation li a:visited {
  background-color: transparent;
  border-bottom: #727272 solid 1px;
}
.page__main .page__header .page__container .page__nav-bar .header__navigation li a:hover {
  border-bottom: #727272 solid 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.page__main .page__header .page__container .page__nav-bar .header__navigation li a:active {
  background-color: transparent;
  border-bottom: #727272 solid 1px;
}
.page__main .page__content {
  margin-top: 112px;
}
.page__main .page__content .page__container {
  padding: 0 0.9375rem;
  margin: 0 auto;
  max-width: 1670px;
}
.page__main .page__content .page__container .page__slider {
  height: calc(100vh - 112px);
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -14px;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__wrapper .project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-width: 332px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: calc((100% - 56px) / 3);
  padding: 0 14px 28px 14px;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__wrapper .project__content .project__photo {
  max-width: 100%;
  cursor: pointer;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__wrapper .project__content .project__text {
  font-size: 0.75rem;
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  margin: 8px 0 0 0;
  cursor: pointer;
  border-bottom: transparent solid 1px;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__wrapper .project__content .project__text:visited {
  background-color: transparent;
  border-bottom: #727272 solid 1px;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__wrapper .project__content .project__text:hover {
  border-bottom: #727272 solid 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__wrapper .project__content .project__text:active {
  background-color: transparent;
  border-bottom: #727272 solid 1px;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__more-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__more-projects .more-projects-btn {
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__more-projects .more-projects-btn:visited {
  background-color: transparent;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__more-projects .more-projects-btn:hover {
  background-color: #c2c2c2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__more-projects .more-projects-btn:active {
  background-color: transparent;
}
.page__main .page__content .page__container .page__projects .section-wrapper .project__more-projects .more-projects-btn-text {
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5em;
  width: 368px;
  padding: 0.25rem 2.625rem;
  border: 1px solid #292929;
  text-transform: uppercase;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 520px;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__what-we-do {
  width: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 1px #000 solid;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__what-we-do .contacts__what-we-do-text {
  margin-left: 3.5rem;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__what-we-do .contacts__what-we-do-text .main-text {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-bottom: 0.5rem;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__what-we-do .contacts__what-we-do-text .additional-text {
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 1.0625rem;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting {
  width: 410px;
  border: #000 solid 1px;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container {
  width: 80%;
  height: 520px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container .contacts__cotact-us-title {
  height: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container .contacts__cotact-us-title .cotact-us-text {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto 0 auto;
  text-transform: uppercase;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container .contacts__form .contacts__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container .contacts__form .contacts__input-block .input-label {
  display: block;
  padding: 8px 0 2px 0;
  font-weight: 300;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container .contacts__form .contacts__input-block .input-field {
  display: block;
  height: 32px;
  font-size: 0.875rem;
  font-weight: 300;
  padding: 5px 5px;
  color: #000;
  background-color: transparent;
  border: #000 1px solid;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container .contacts__form .contacts__input-block textarea {
  resize: none;
  margin: 0;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container .contacts__submit {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container .contacts__submit .submit-btn {
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5em;
  width: 368px;
  padding: 0.25rem 2.625rem;
  border: 1px solid #292929;
  text-transform: uppercase;
  font-size: 1.125rem;
  width: 175px;
  padding: 0.125rem 0;
  margin: 0 auto auto auto;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container .contacts__submit .submit-btn:visited {
  background-color: transparent;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container .contacts__submit .submit-btn:hover {
  background-color: #c2c2c2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.page__main .page__content .page__container .page__contacts .contacts .contacts__container .contacts__place-a-meeting .contacts__place-a-meeting-container .contacts__submit .submit-btn:active {
  background-color: transparent;
}

.page__footer .page__container {
  padding: 0 0.9375rem;
  margin: 0 auto;
  max-width: 1670px;
}
.page__footer .page__container .footer__contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 72px 0 72px 0;
}
.page__footer .page__container .footer__contact-info .contacts .contacts__details {
  text-decoration: none;
  color: #000;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.02em;
  border-bottom: transparent solid 1px;
}
.page__footer .page__container .footer__contact-info .contacts .contacts__details:visited {
  background-color: transparent;
  border-bottom: #727272 solid 1px;
}
.page__footer .page__container .footer__contact-info .contacts .contacts__details:hover {
  border-bottom: #727272 solid 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.page__footer .page__container .footer__contact-info .contacts .contacts__details:active {
  background-color: transparent;
  border-bottom: #727272 solid 1px;
}
.page__footer .page__container .footer__contact-info .contacts .contacts__e-mail {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.page__footer .page__container .footer__contact-info .privacy-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page__footer .page__container .footer__contact-info .privacy-policy .privacy-policy__logo {
  height: 3rem;
}
.page__footer .page__container .footer__contact-info .privacy-policy .privacy-policy__text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.02em;
}

.section-wrapper {
  padding: 112px 0 0 0;
}

@media (max-width: 1670px) {
  .page__container {
    max-width: 1200px !important;
  }
}
@media (max-width: 1200px) {
  .page__container {
    max-width: 970px !important;
  }
}
@media (max-width: 992px) {
  .page__container {
    max-width: 780px !important;
  }

  .header__navigation {
    display: none !important;
  }

  .contacts__what-we-do {
    display: none !important;
  }

  .contacts__place-a-meeting {
    width: 70% !important;
    margin: 0 auto;
  }

  .more-projects-btn-text {
    padding: 0.25rem 0.75rem !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}
@media (max-width: 768px) {
  .contacts__place-a-meeting {
    width: 100% !important;
  }
}