* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #dcdcdc;
  /* font-size: 15px; */
  background-color: #F2F2F2;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}