@import 'variables';

._underscore{
    border-bottom: #727272 solid 1px;
    transition: all .5s ease;
}

.section-wrapper{
    padding-bottom: 80px;
}

.page__filter > .section-wrapper{
    padding: 0 0 0 0;
}

.project__wrapper{
    margin-bottom: 0 !important;
}

.filter__navigation{
    padding: 0 0 24px 0;
    .filter__navigation-list{
        display: flex;
        justify-content: space-between;
        li{
            border-bottom: transparent solid 1px;
            @include text_hover;
            cursor: pointer;
        }
        span{
            border-left: 1px solid #cfcfcf;
        }
    }
}

.animation{
    transform: scale(0) !important;
    transition: all 0.5s;
    opacity: 0 !important;
}

.filter_hidden{
    animation-name: hide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    // display: none !important;
}

.hide{
    display: none !important;
}

@keyframes hide{
    0%{
        visibility: visible;
        // display: block;
        height: 400px;
    }
    100%{              
        // display: none;
        visibility: hidden;
        width: 0;
        height: 0;
        min-width: 0;
        min-height: 0;
        margin: 0;
        padding: 0;
        font-size: 0;  
    }
}
